body {
    font-family:  sans-serif, Arial, ;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ffe6f6; 
    
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #99e0f0; 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(43, 1, 59, 0.2);
    outline: 2px solid rgb(82, 3, 151);
  }
  
  h1 {
    color: #420385; 
    margin-bottom: 20px;
  }

  h2 {
    color: #3a0375; 
    margin-bottom: 20px;
  }
  
  img {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 30px rgba(7, 0, 10, 0.2);
    border-radius: 10px;
  
  }
  
  button {
    background-color: #fa036e; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
  }
  
  button:hover {
    background-color: #035a60; 
  }
  
  #result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }